.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 32px;
  top: 32px;
}

.trade button {
  padding: 16px;
  color: #353535;
  background-color: transparent;
  border-radius: 4px;
  border-color: #f0f0f0;
  border-width: 4px;
  border-style: solid;
  transition: all 0.25s ease-in-out;
}

.trade button:active {
  background-color: #353535;
  color: #f0f0f0;
  transition: all 0.005s ease-in-out;
}

.trade button:active>img {
  filter: brightness(5.5);
}

.trade img {
  transition: all 0.025s ease-in-out;
}
