.container {
  height: 100vh;
  padding: 32px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.info {
  position: fixed;
  top: 0;

  width: 100%;
  padding: 16px 32px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.table {
  text-align: center;

  border-radius: 8px;
  border-color: #e0e0e0;
  border-width: 4px;
  border-style: solid;
}

.table th {
  padding: 8px 48px;
  color: #454545;
  background-color: #f0f0f0;
  border-radius: 4px 4px 0 0;
  font-size: 0.95rem;
}

.table td {
  padding: 8px 0;
  min-width: 4.0rem;
}

.table th {
  font-weight: normal;
}



.report {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 32px;
}


.upgrades {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 32px;
}

.upgrades .table th {
  color: #454545;
  background-color: #f0f0f0;
}

.achievements {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 32px;
}

.achievements ul {
  margin: 0 0 0 0;
  padding: 0 16px 0 32px;
}

.achievement {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  border-radius: 4px;
  border-color: #656565;
  border-width: 4px;
  border-style: solid;
}

.item {
  background-color: #353535;
  width: 100%;
}

.item button {
  display: inline-block;
  width: 100%;
  padding: 16px 32px;

  font-size: 0.75rem;

  color: #f0f0f0;
  background-color: #353535;
  border: none;

  transition: all 0.25s ease-in-out;
}

.item:first-child {
  border-right: 4px solid #656565;
}

.item button:active {
  background-color: #505050;
  color: #f0f0f0;
  transition: all 0.005s ease-in-out;
}
