.container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 8px;
  margin: 4px;
  font-size: 0.65rem;
  text-align: center;
}

.deliver {
  display: block;
  position: relative;
  bottom: 0;
}

.deliver button {
  padding: 0.25rem 0.75rem;
  background-color: #505050;
  border: 0.15rem solid lighten($color: #505050, $amount: 35%);;
  border-radius: 0.25rem;
  color: white;
  transition: all 0.25s ease-in-out;
}

.deliver button:disabled {
  background-color: lighten($color: #505050, $amount: 45%);
  border-color: lighten($color: #505050, $amount: 55%);
  border-radius: 0.25rem;
  color: lighten($color: #505050, $amount: 30%);
}

.deliver button:active {
  background-color: lighten($color: #505050, $amount: 25%);
  border: 0.15rem solid lighten($color: #505050, $amount: 25%);
  border-radius: 0.25rem;
  color: lighten($color: #505050, $amount: 50%);
}

.flag {
  color: #ee5253;
}
