.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  width: 100%;
  padding: 16px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  min-width: 80%;
  text-align: center;
  position: relative;
  bottom: 4px;
}

.back button {
  padding: 16px;

  color: #353535;
  background-color: white;
  border-radius: 4px;
  border-color: #f0f0f0;
  border-width: 4px;
  border-style: solid;

  transition: all 0.25s ease-in-out;
}

.back button:active {
  background-color: #353535;
  color: #f0f0f0;
  transition: all 0.005s ease-in-out;
}

.back button:active>img {
  filter: brightness(5.5);
}

.back img {
  transition: all 0.025s ease-in-out;
}



.orders {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 8px;
  margin: 4px;
  min-height: 256px;

  border-radius: 8px;
  border-color: #f0f0f0;
  border-width: 4px;
  border-style: solid;
}

.footer {
  position: fixed;
  bottom: 32px;
  right: 32px;
}

.footer button {
  padding: 16px 32px;

  color: #353535;
  background-color: #f5f5f5;

  border-radius: 4px;
  border-color: #e5e5e5;
  border-width: 4px;
  border-style: solid;

  transition: all 0.25s ease-in-out;
}

.footer button:active {
  background-color: #353535;
  color: #f0f0f0;
  transition: all 0.005s ease-in-out;
}
