.container {
  width: 256px;
  position: fixed;
  top: 64px;
  left: 128px;
  padding: 8px 16px;
  border: 1px dashed;
  border-radius: 4px;
}

.container header {
  text-align: center;
}

.container footer {
  margin-top: 16px;
  text-align: center;
}
