.container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 128px;

  width: 100vw;
  height: 64px;

  z-index: 9999;
}

.message {
  background-color: #353535;
  color: #f0f0f0;
  // border-color: #d0d0d0;
  // border-style: solid;
  // border-width: 2px;
  border-radius: 4px;

  transform: translate(0, 16px);
  opacity: 0;

  position: relative;
  padding: 8px 16px;
}

.show {
  transition: all 0.5s ease-out;
  transform: translate(0, 0);
  opacity: 1;
}

.hide {
  transition: all 0.5s ease-out;
  transform: translate(0, -8px);
  opacity: 0;
}
