.container {
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 16px 32px;
}

.item {
  width: 96px;
  height: 96px;
  position: relative;
  margin: 8px;
  background-color: #f0f0f0;
  border-radius: 8px;
  border-color: #f0f0f0;
  border-width: 4px;
  border-style: solid;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.item:hover {
  background-color: #f0f0f0;
  border-color: #d0d0d0;
}

.item:active {
  background-color: #353535;
  color: #f0f0f0;
  transition: all 0.005s ease-in-out;
}

.name {
  height: 64px;
  line-height: 64px;
  text-align: center;
  vertical-align: middle;
}


.amount {
  position: absolute;
  bottom: -0.75rem;
  right: -0.75rem;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 2.2rem;
  border-radius: 50%;
  background-color: #454545;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 0.65em;
}
