.container {
  width: 96px;
  height: 96px;
  margin: 2px;
  // padding: 4px 8px;
  font-size: 0.85em;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 4px;
  border-color: #f0f0f0;
  border-width: 4px;
  border-style: solid;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.container:hover {
  background-color: #f0f0f0;
  border-color: #d0d0d0;
}

.container:active {
  background-color: #353535;
  color: #f0f0f0;
  transition: all 0.005s ease-in-out;
}
