.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  width: 96px;
  height: 64px;

  position: fixed;
  top: 32px;
  right: 32px;

  padding: 8px;
  margin: 0;

  background-color: #fff;
  border-radius: 8px;
  border-color: #f0f0f0;
  border-width: 4px;
  border-style: solid;

  font-size: 0.85em;

  transition: all 0.25s ease-in-out;

  cursor: pointer;
}
 .container h2 {
   margin: 0;
   font-size: 0.85rem;
 }
