@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 0.95em;
  color: #505050;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overscroll-behavior: none;
}

button {
  font-family: 'Mochiy Pop P One', sans-serif;
}
